{% extends "base_generic.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="py-5">
            <h1 class="display-3 fw-bold">Mixtape</h1>
            <p>Start making your ultimate playlist!</p>
            <p class="col-md-8 fs-4">
                <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div class="py-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light rounded-3">
                    <p>For music lovers who want to blend different music tastes and influences into
                        one singular playlist. Mixtape is a playlist generator that generates a
                        singular playlist from other user’s playlist to merge their different music
                        tastes to find music they all like. Unlike Spotify our product would allow
                        more than two users to fuse their playlists together.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
