{% extends "base_generic.html" %}
{% block content %}
  <ul>
    <li>Playlist name: {{ object.playlist_name }}</li>
    <li>Creator: {{ object.creator }}</li>
    <li>
      Likes:
      <br/>
      {% for likes in object.likes.all %}
        {{ likes }}
        <br/>
      {% endfor %}
    </li>
    <li>
      Songs:
      <br/>
      {% for songs in object.songs.all %}
        {{ songs }}
        <br/>
      {% endfor %}
    </li>
    <li>Private: {{ object.isPrivate }}</li>
    <li>Playlist Description: {{ object.playlist_description }}</li>
  </ul>
  {% if user.is_authenticated and is_owner %}
    <a class="btn btn-primary"
       href="{% url 'mixtape:playlist_update' pk=playlist.pk %}">
      <i class="fa-solid fa-plus"></i> Update Playlist
    </a>
    <a class="btn btn-danger"
       href="{% url 'mixtape:playlist_delete' pk=playlist.pk %}">
      <i class="fa-solid fa-trash-can"></i> Delete Playlist
    </a>
  {% endif %}
{% endblock content %}
