{% extends "base_generic.html" %}
{% block content %}
    <ul>
        <li>Name: {{ object.song_name }}</li>
        <li>Length: {{ object.song_length }}</li>
        <li>Artist: {{ object.artist_name }}</li>
        <li>Album: {{ object.album }}</li>
        <li>Genre: {{ object.song_genre }}</li>
        <li>
            Likes:
            <br/>
            {% for likes in object.likes.all %}
                {{ likes }}
                <br/>
            {% endfor %}
        </li>
        <li>Favorite: {{ object.isFavoriteSong }}</li>
        <!-- Add more fields if you want to list them here -->
    </ul>
    {% if user.is_superuser %}
        <a class="btn btn-primary"
           href="{% url 'mixtape:song_update' pk=song.pk %}">
            <i class="fa-solid fa-plus"></i> Update Song
        </a>
        <a class="btn btn-danger"
           href="{% url 'mixtape:song_delete' pk=song.pk %}">
            <i class="fa-solid fa-trash-can"></i> Delete Song
        </a>
    {% endif %}
{% endblock content %}
